{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BookingDetail list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bookeddate</th>
                <th>Breakfastclub</th>
                <th>Afterdayclub</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_booking_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.bookedDate %}{{ entity.bookedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.breakfastClub }}</td>
                <td>{{ entity.afterdayClub }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_booking_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_booking_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_booking_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
