{% extends 'AcmeSmallstepsBundle::adminBase.html.twig' %}

{% block heading %}
    School list
{% endblock heading %}

{% block content -%}


    <div class="table-responsive">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('Admin_School_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('Admin_School_show',
                     { 'id': entity.id }) }}" >show</a>
                                </li>
                                <li>
                                    <a href="{{ path('Admin_School_edit',
                     { 'id': entity.id }) }}" >edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('Admin_School_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
